*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
body{
    background: rgb(27, 27, 27);
}
.card{
    background-color: white;
    width: 270px;
    margin: 10px;
    border-radius: 15px;
}

.card-image{
    
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;

}

.car-1{
    background-image: url('car-1.jpg');
}

.car-2{
    background-image: url('car-2.jpg');
}

.car-3{
    background-image: url('car-3.jpg');
}

.card h2{
padding: 10px;
}
.card p{
    padding: 10px;
}

.card a{
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px ;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    transform: scale(1.03);
    transition: all is ease;
}